@import "../Vars.scss";

.footer {
  @include flexbox(column);
  background-color: $main-color;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: $footer-height;
}

.footer a {
  text-decoration: none;
  color: $text-white;
}
